# Importando os dados

In [1]:
import pandas as pd
from utils.dates import Dates


data_folder = 'data/'
itens_file_name = 'tbDiligencia.csv'

itens_file_path = data_folder + itens_file_name

cols = ['idDiligencia', 'idPronac', 'idTipoDiligencia', 'DtSolicitacao', 'idSolicitante', 'DtResposta',
        'idProponente', 'stEstado', 'idPlanoDistribuicao', 'idArquivo', 'idCodigoDocumentosExigidos',
        'idProduto', 'stProrrogacao', 'stEnviado']

dt_diligencias = pd.read_csv(itens_file_path, usecols = cols, low_memory=False)
dt_dtdiligencias.head()

,idDiligencia,idPronac,idTipoDiligencia,DtSolicitacao,idSolicitante,DtResposta,idProponente,stEstado,idPlanoDistribuicao,idArquivo,idCodigoDocumentosExigidos,idProduto,stProrrogacao,stEnviado
0,1,115502,124,2009-09-24 16:52:23,2851,2010-01-18 14:39:07,NaN,0,NaN,NaN,NaN,NaN,NaN,S
1,2,114250,124,2009-09-24 18:11:00,2825,2009-10-07 19:45:18,6010.0,0,NaN,NaN,NaN,NaN,NaN,S
2,3,115134,124,2009-09-24 18:13:00,2825,2009-10-07 16:10:21,9553.0,0,NaN,NaN,NaN,NaN,NaN,S
3,4,114399,124,2009-09-24 18:26:00,2845,2009-10-06 09:30:35,9521.0,1,NaN,NaN,NaN,NaN,NaN,S
4,5,115059,124,2009-09-24 18:35:00,2915,2009-10-02 18:01:47,11598.0,1,NaN,NaN,NaN,NaN,NaN,S

**Tabela Projetos**

In [3]:
projetos_csv_name = 'Projetos.csv'
projetos_csv = data_folder + projetos_csv_name
date_column = 'DtProtocolo'
dt_projetos = pd.read_csv(projetos_csv, usecols = ['IdPRONAC', date_column], low_memory=False)
dt_projetos[date_column] = pd.to_datetime(dt_projetos[date_column], format = Dates.DATE_INPUT_FORMAT)
dt_projetos.head()

   IdPRONAC DtProtocolo
0         1  2008-09-12
1         2  2008-09-12
2         3  2008-09-12
3         4  2008-09-03
4         5  2008-09-12

# Limpando os dados

É conhecido que dados muito antigos (de 1992, por exemplo) podem ser inconsistentes, então vamos filtrar os dados a partir de uma data de início (2009).

In [8]:
from datetime import datetime

START_DATE = datetime(day=1, month=1, year=2009)

dt_projetos.loc[date_column]

KeyError: 'the label [DtProtocolo] is not in the [index]'

**Números distintos de projetos com pelo menos uma diligência**

In [ ]:
projects_with_diligencies = len(dt['idPronac'].unique())
print(projects_with_diligencies)

**Número total de projetos no SALIC**

In [ ]:
total_projects = len(dt_projetos['IdPRONAC'].unique())
print(total_projects)

**Projetos com pelo menos uma diligência Vs. total de projetos**

In [ ]:
import matplotlib.pyplot as plt
from utils.plotter import Plotter

dd = {'With diligencies':projects_with_diligencies,
      'Total projects': total_projects}
plt.bar(dd.keys(), dd.values())
plt.show()

**Tipos distintos de diligência**

In [ ]:
display(dt['idTipoDiligencia'].unique())