## Loading dataset from .csv

In [32]:
import pandas as pd

data_folder = '../data/'
itens_file_name = 'valor_unitario_aprovado_sample.csv'
itens_file_path = data_folder + itens_file_name

dt = pd.read_csv(itens_file_path)
dt.head()

,Unnamed: 0,Item,ValorUnitarioAprovado,Data,idPRONAC
0,1894129,Material de consumo,7000.00,2014-07-31 07:27:29,179966
1,2003098,Locação de teatro,465.39,2015-05-05 16:38:24,185736
2,925488,Banheiro químico,250.00,2012-03-16 00:00:00,143223
3,1326505,Técnico de som,3500.00,2013-01-07 00:00:00,155368
4,136947,Cartaz,300.00,2010-01-01 00:00:00,114412

## Selecting a random item

When selecting a random item, it's important to make sure that we have enough occurences of that item, for example 100 or more. Let's also make a set (all itens are discinct) of random itens.

In [34]:
import numpy as np

def get_random_item():
    while True:
        item = np.random.choice(dt['Item'].values)
        if len(dt.loc[dt['Item'] == item]) >= 100:
            return item

def get_set_of_random_itens(n = 20):
    itens = set()
    while len(itens) < n:
        itens.add(get_random_item())
    return itens

print(get_set_of_random_itens())

{'Locação de teatro', 'Produtor', 'Produtor Executivo', 'Material de escritório', 'Assessoria Jurídica (Contratos Inclusive)', 'Projeto Gráfico', 'Assistente de produção', 'Coordenador de produção', 'Transporte Local / Locação de Automóvel / Combustível', 'Hospedagem com Alimentação', 'Folders', 'Diretor de produção', 'Hospedagem sem Alimentação', 'Fotografia Artística (Fotógrafo, Tratamento, Revelação, etc.)', 'Direitos Autorais', 'Refeição', 'Mídia radiofônica', 'Assessor de imprensa', 'Banner/faixa adesiva/faixa de lona/saia de palco/testeira/pórtico\r\n', 'Contador'}