# Etapa dos Projetos no pipeline do Salic

**ISSUE:** [#28](https://github.com/lappis-unb/salic-ml/issues/28)

**Etapas de Projeto:** No Salic um projeto por estar em uma das seguintes etapas:

- Admissibilidade
- Capitação e Execução
- Prestação de Contas
  - Análise do Objeto
  - Análise Financeira


**Objetivo:** Identificar quantos projetos tem em cada etapa no Salic

## Prepararando os dados

**Recarregar automaticamente os módulos**

In [1]:
%load_ext autoreload
%autoreload 2

**Importando módulos python**

In [2]:
import os
import sys
import time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from salicml.utils.dates import Dates
from salicml.models.projects import Projects

PROJECT_ROOT = os.path.abspath(os.path.join(os.pardir, os.pardir))
DATA_FOLDER = os.path.join(PROJECT_ROOT, 'data', 'raw')

**Carregando os dados da tabela de Projetos**

In [28]:
cols = ['IdPRONAC', 'DtProtocolo', 'DtInicioExecucao', 'DtFimExecucao', 'Situacao']
projects_csv = os.path.join(DATA_FOLDER, 'projetos.csv')

projects = Projects(projects_csv)

df_projects = projects.data_frame.filter(items = cols)
display(df_projects.head())

,IdPRONAC,DtProtocolo,DtInicioExecucao,DtFimExecucao,Situacao
0,1,2008-09-12 00:00:00,2010-01-01 00:00:00,2010-12-31 00:00:00,E63
1,2,2008-09-12 00:00:00,NaN,NaN,G43
2,3,2008-09-12 00:00:00,NaN,NaN,K00
3,4,2008-09-03 00:00:00,NaN,NaN,E25
4,5,2008-09-12 00:00:00,NaN,NaN,E36

## Data na qual esse notebook foi executado

In [4]:
current_date = time.strftime("%Y-%m-%d %H:%M:%S")

display(time.strftime("%d-%m-%Y %H:%M:%S"))

'25-05-2018 10:34:29'

## Período da análise

Serão analizados os projetos criados apartir de 2009

In [30]:
year = 2009

df_projects = df_projects[df_projects['DtProtocolo'] >= '{}-01-01'.format(year)]

## Situações que indicam que um projeto foi encerrado

In [45]:
end_situations = ['A09', 'A13', 'A14', 'A16', 'A17', 'A18', 'A20', 'A23', 'A24', 'A26', 'A40', 'A41',
                  'A42', 'C09', 'D18', 'E04', 'E09', 'E36', 'E47', 'E49', 'E63', 'E64', 'E65', 'G16', 'G25',
                  'G26', 'G29', 'G30', 'G56', 'K00', 'K01', 'K02', 'L01', 'L02', 'L03', 'L04', 'L05', 
                  'L06', 'L08', 'L09', 'L10', 'L11']

## Identificando projetos na etapa de Admissibilidade

### Preparando filtros

Para identificar se um projeto está na etapa de admissibilidade será verificado as seguintes informações

1. A data de inicio de execução de um projeto deve ser posterior a data atual.
2. O projeto não pode ter uma situação que indica que ele já foi finalizado.

**Filtro 1:** A data de inicio de execução de um projeto deve ser posterior a data atual.

In [32]:
filter_start_execution_bigger_than_currentdate = df_projects['DtInicioExecucao'] > current_date

**Filtro 2:** O projeto não pode ter uma situação que indica que ele já foi finalizado.

In [33]:
filter_not_have_end_situation = ~df_projects['Situacao'].isin(end_situations)

O filtro de projetos na etapa de admissibilidade é a junção dos filtros anteriores

In [34]:
filter_admissibility = (filter_start_execution_bigger_than_currentdate &
                        filter_not_have_end_situation)

**Quantidade de projetos na fase de Admissibilidade**

In [35]:
df_projects_admissibility = df_projects[filter_admissibility]

display("Nº de projetos: {}".format(len(df_projects_admissibility)))

'Nº de projetos: 457'

## Identificando projetos na etapa de Execução/Captação

Segundo as informações passadas pelo pessoal do Ministério, a etapa de execução e captação ocorrem juntas, logo será apenas utilizado o nome "fase de execução"

### Preparando filtros

Para identificar se um projeto está na etapa de execução será verificado as seguintes informações

1. A data de inicio de execução de um projeto deve ser anterior a data atual.
2. A data de fim de execução de um projeto deve ser posterior a data atual.
3. O projeto não pode ter uma situação que indica que ele já foi finalizado.

**Filtro 1:** A data de inicio de execução de um projeto deve ser anterior a data atual.

In [36]:
filter_start_execution_before_than_currentdate = df_projects['DtInicioExecucao'] < current_date

**Filtro 2:** A data de fim de execução de um projeto deve ser posterior a data atual.

In [37]:
filter_end_execution_after_than_currentdate = df_projects['DtFimExecucao'] > current_date

**Filtro 3:** O projeto não pode ter uma situação que indica que ele já foi finalizado.

In [38]:
filter_not_have_end_situation = ~df_projects['Situacao'].isin(end_situations)

O filtro de projetos na etapa de execução é a junção dos filtros anteriores

In [39]:
filter_execution = (filter_start_execution_before_than_currentdate &
                    filter_end_execution_after_than_currentdate &
                    filter_not_have_end_situation)

**Quantidade de projetos na fase de Execução**

In [40]:
df_projects_execution = df_projects[filter_execution]

display("Nº de projetos: {}".format(len(df_projects_execution)))

# display(df_projects_execution.sort_values('DtFimExecucao'))

'Nº de projetos: 7472'

## Identificando projetos na etapa de Prestação de Contas

### Preparando filtros

Para identificar se um projeto está na etapa de prestação de contas será verificado as seguintes informações

1. A data de fim de execução de um projeto deve ser anterior a data atual.
2. O projeto não pode ter uma situação que indica que ele já foi finalizado.

**Filtro 1:** A data de fim de execução de um projeto deve ser anterior a data atual.

In [41]:
filter_end_execution_before_than_currentdate = df_projects['DtFimExecucao'] < current_date

**Filtro 3:** O projeto não pode ter uma situação que indica que ele já foi finalizado.

In [46]:
filter_not_have_end_situation = ~df_projects['Situacao'].isin(end_situations)

O filtro de projetos na etapa de execução é a junção dos filtros anteriores

In [47]:
filter_accountability = (filter_end_execution_before_than_currentdate &
                         filter_not_have_end_situation)

**Quantidade de projetos na fase de Prestação de Contas**

In [48]:
df_projects_accountability = df_projects[filter_accountability]

display("Nº de projetos: {}".format(len(df_projects_accountability)))

display(df_projects_accountability.sort_values('DtFimExecucao'))

'Nº de projetos: 17091'

,IdPRONAC,DtProtocolo,DtInicioExecucao,DtFimExecucao,Situacao
112310,112356,2009-05-08 12:20:33,2009-07-08 00:00:00,2009-01-31 00:00:00,E24
111413,111438,2009-03-26 10:02:15,2009-05-01 00:00:00,2009-02-28 00:00:00,E68
114181,114255,2009-06-29 15:39:07,2009-09-01 00:00:00,2009-03-01 00:00:00,E19
111313,111338,2009-03-13 11:02:38,2009-04-30 00:00:00,2009-04-30 00:00:00,G17
111240,111265,2009-02-27 11:43:42,2009-05-19 00:00:00,2009-06-15 00:00:00,E19
111397,111422,2009-03-24 17:14:17,2009-06-05 00:00:00,2009-06-29 00:00:00,E19
111298,111323,2009-03-10 14:57:38,2009-05-04 00:00:00,2009-06-30 00:00:00,D36
111544,111569,2009-04-06 11:59:25,2009-07-08 00:00:00,2009-07-19 00:00:00,E24
111670,111695,2009-04-14 15:32:36,2009-07-22 00:00:00,2009-07-26 00:00:00,E19
111169,111194,2009-02-11 09:27:46,2009-05-01 00:00:00,2009-07-30 00:00:00,D36
112430,112479,2009-05-13 09:05:52,2009-07-28 00:00:00,2009-07-31 00:00:00,E19
111318,111343,2009-03-13 15:00:25,2009-07-03 00:00:00,2009-08-02 00:00:00,E19
111336,111361,2009-03-18 09:53:40,2009-05-27 00:00:00,2009-08-02 00:00:00,E27
111221,111246,2009-02-26 17:42:50,2009-05-20 00:00:00,2009-08-05 00:00:00,G17
111146,111171,2009-02-09 11:35:54,2009-04-09 00:00:00,2009-08-09 00:00:00,E24
111361,111386,2009-03-19 10:21:07,2009-08-01 00:00:00,2009-08-15 00:00:00,E19
112963,113016,2009-05-26 16:00:10,2009-08-03 00:00:00,2009-08-15 00:00:00,G17
112669,112722,2009-05-19 10:20:33,2009-08-13 00:00:00,2009-08-17 00:00:00,G17
112066,112110,2009-04-30 15:44:51,2009-07-15 00:00:00,2009-08-21 00:00:00,G17
113221,113285,2009-06-02 16:35:08,2009-08-17 00:00:00,2009-08-21 00:00:00,G17
111645,111670,2009-04-13 16:52:58,2009-08-06 00:00:00,2009-08-23 00:00:00,E27
111296,111321,2009-03-10 14:07:15,2009-08-22 00:00:00,2009-08-29 00:00:00,E19
111156,111181,2009-02-10 10:21:47,2009-05-30 00:00:00,2009-08-30 00:00:00,E24
112687,112740,2009-05-19 11:53:46,2009-08-10 00:00:00,2009-08-30 00:00:00,E19
112861,112914,2009-05-25 10:40:37,2010-03-06 00:00:00,2009-09-06 00:00:00,G17
113229,113293,2009-06-02 17:04:46,2009-09-03 00:00:00,2009-09-07 00:00:00,G17
112518,112567,2009-05-14 10:19:42,2009-08-21 00:00:00,2009-09-08 00:00:00,G17
112175,112219,2009-05-06 09:40:59,2009-09-04 00:00:00,2009-09-12 00:00:00,E19
113252,113316,2009-06-03 10:12:33,2009-09-06 00:00:00,2009-09-12 00:00:00,E24
115110,115201,2009-07-29 16:52:23,2009-09-03 00:00:00,2009-09-13 00:00:00,G17
...,...,...,...,...,...
196111,202285,2016-03-10 11:17:03,2017-05-01 00:00:00,2018-05-01 00:00:00,E16
200116,207562,2016-11-22 20:30:35,2017-03-01 10:59:20,2018-05-01 00:00:00,E13
195862,202025,2016-02-19 17:07:36,2016-12-14 16:43:36,2018-05-01 13:57:31,E12
194950,201065,2015-12-16 12:38:41,2016-05-01 19:37:18,2018-05-01 19:37:18,D14
193666,199717,2015-10-29 13:54:53,2015-11-25 16:02:56,2018-05-02 00:00:00,E13
207940,215699,2017-11-23 09:28:52,2017-12-08 16:06:43,2018-05-03 00:00:00,E12
200322,207798,2016-12-02 18:27:58,2017-02-20 13:38:02,2018-05-04 00:00:00,E13
194928,201043,2015-12-11 08:24:05,2016-04-14 13:17:17,2018-05-05 00:00:00,E10
200985,208552,2017-02-09 19:04:25,2017-05-05 23:23:52,2018-05-05 23:23:52,D14
195073,201190,2015-12-19 16:43:05,2016-05-06 12:42:39,2018-05-06 00:00:00,E10
196735,202956,2016-04-14 10:44:00,2016-05-23 00:00:00,2018-05-07 00:00:00,E16
201688,209364,2017-03-28 16:24:32,2017-05-31 10:38:16,2018-05-07 11:44:10,E10
210204,217964,2018-02-15 13:21:15,2018-05-05 15:21:18,2018-05-07 15:21:18,E10
195010,201126,2015-12-19 15:56:54,2016-04-20 14:01:13,2018-05-08 00:00:00,E10
201818,209544,2017-04-06 10:48:33,2017-08-01 11:47:04,2018-05-08 11:47:04,D14
169476,171357,2013-12-04 17:12:02,2014-06-18 00:00:00,2018-05-09 00:00:00,E13
203286,211043,2017-09-06 08:01:06,2017-12-11 16:58:10,2018-05-11 16:58:10,E12
199924,207346,2016-11-14 21:30:51,2017-02-12 10:23:59,2018-05-12 10:23:59,E16
184174,189658,2015-01-06 14:16:15,2015-03-12 00:00:00,2018-05-13 00:00:00,E12
201025,208593,2017-02-13 14:42:44,2017-05-14 19:06:20,2018-05-13 19:06:20,D14
201188,208773,2017-02-22 15:36:21,2017-06-01 13:10:31,2018-05-14 09:23:58,E12
208921,216680,2017-12-12 11:56:33,2018-01-01 09:41:10,2018-05-14 09:41:10,E12
210199,217959,2018-02-14 18:04:13,2018-04-24 18:12:17,2018-05-14 18:12:17,D03
201154,208737,2017-02-21 16:39:28,2017-05-15 18:43:55,2018-05-16 18:43:55,D14
200678,208209,2017-01-18 18:47:43,2017-04-17 18:11:21,2018-05-17 18:11:21,B14
196525,202732,2016-03-30 15:38:02,2016-05-18 16:22:20,2018-05-18 00:00:00,E10
199506,206883,2016-10-21 10:33:33,2017-01-21 19:10:36,2018-05-18 19:10:36,E16
204341,212098,2017-09-08 11:22:10,2018-01-26 15:40:08,2018-05-19 15:40:08,E10
189148,195093,2015-09-16 08:55:35,2015-12-02 00:00:00,2018-05-20 00:00:00,E13
196097,202269,2016-03-09 17:14:27,2016-04-27 15:03:22,2018-05-25 00:00:00,E10